.clear { clear : left ; }

body {
	background-image: url(../images/postit.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1
{
	text-align: center;
	font-family: 'BolshevikRegular'; 
	margin-bottom: 3%;
}

.case {
	position: relative;
	background-color: white;
	border: 1px solid black;
	width: 21px;
	height: 21px;
	float: left;
}

.couleurs {
	position: relative;
	width: 21px;
	height: 21px;
	float: left;
	border: 2px solid black;
	margin-right: 3px;
}

.coulActive {
	border: 3px solid gray;
}

#palette {
	z-index: 10;
	padding-left: 4%;
}

#outils {
	padding-top: 1%;
}

#colorPicker {
	width: 100%;
	background-color: gray;
	height: 200px;
}

#coulChoisie {
	height: 90px;
	width: 90%;
	margin: 0 auto;
	border: 1px solid black;
	background-color: black;
}

#colorPicker p {
	display: inline-block;
}
.slideCouleur {
	width: 75%;
	margin-top: 6%;
	margin-left: 10px;
	display: inline-block;
}